.forecast-container { 
    background-size: cover;
    height: 100vh;
    transition: background 750ms ease-in-out 200ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.search-form-container {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 1% 25% 0% 25%;
    border-radius: 7.5px;
}

button:hover {
    background-color: rgb(192, 192, 186);
    cursor: pointer;
}


input {
    height: 2rem;
    border-radius: 10px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    border-style: solid;
}

.main-container {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    background: linear-gradient(#5D6CA8, #282e49);
    border-radius: 10px;
    padding-top: 2%;
}

.primary-forecast-container {
    display: flex;
    justify-content: space-around;  
    padding-bottom: 2%;
}

.city-info-container {
    display: flex; 
    flex-direction: column;
    width: 20%;
    justify-content: center;
}
 
.city-info-container h1 {
    font-size: 5rem;
    margin:0;
}

.city-info-container h3 {
    margin: 0;
}

.weather-conditions-icon-container {
    display: flex;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
}

.forecast-details-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #20253b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    margin: 0;
}

span.details-header {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-bottom: 0%;
}

.wind-info-container, .humidity-info-container {
    text-align: center;
}

.details-info {
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.photo-credits-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
}

.lds-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 1000px;
    margin-top: 10%;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(0, 55, 128);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  